############################
# Python
############################

__pycache__/
*.py[cod]
*$py.class

############################
# Jupyter
############################

.ipynb_checkpoints

############################
# IDE
############################

.idea/
.vscode/

############################
# OS
############################

.DS_Store
Thumbs.db

############################
# Logs
############################

*.log

############################
# Tensorboard / runs
############################

runs/
old_virsion/

############################
# Model checkpoints
############################

*.pth
*.pt
*.ckpt
*.bin
backbones/
checkpoints/
checkpoints_distill/
checkpoints_bypass_tps/

############################
# Dataset
############################

data/

############################
# Python build
############################

build/
dist/
*.egg-info/

############################
# Cache
############################

.cache/
*.cache

############################
# PyTorch compile
############################

torch_compile_debug/
debug/

############################
# Temporary files
############################

*.tmp
*.swp

############################
# External repositories (optional)
############################

dense_match/RoMaV2/
backbones/facebookresearch_dinov3*/
teacher_cache/

############################
# CUDA build artifacts
############################

*.so
*.pyd
*.dll

*.jpg
*.png
*.txt